$cell-size: 100px;
$border-size: 1px;
$gap: 1px;
$columns: 7;
$padding: 10px;
$cell-step: $cell-size + $gap;
$day-bg: #eee;
$border-color: #000;

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  padding: $padding;

  display: flex;
  flex-wrap: wrap;
  gap: $gap;

  width: calc(
    #{$columns} * #{$cell-size} + (#{$columns} - 1) * #{$gap} + 2 * #{$padding}
  );

  box-sizing: border-box;
}

.calendar__day {
  width: $cell-size;
  height: $cell-size;
  box-sizing: border-box;

  background-color: $day-bg;
  border: $border-size solid $border-color;

  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    background-color 0.5s,
    transform 0.5s;
}

.calendar__day::before {
  font-family: Arial, sans-serif;
  font-size: 30px;
  content: '';
}

@for $i from 1 through 31 {
  .calendar__day:nth-child(#{$i})::before {
    content: '#{$i}';
  }
}

.calendar__day:hover {
  cursor: pointer;
  background-color: #ffbfcb;
  transform: translateY(-20px);
}

$start-days: (
  mon: 1,
  tue: 2,
  wed: 3,
  thu: 4,
  fri: 5,
  sat: 6,
  sun: 7,
);

@each $day, $col in $start-days {
  .calendar--start-day-#{$day} {
    .calendar__day:first-child {
      margin-left: ($col - 1) * $cell-step;
    }
  }
}

@for $len from 28 through 31 {
  .calendar--month-length-#{$len} {
    .calendar__day:nth-child(n + #{$len + 1}) {
      display: none;
    }
  }
}
